/Bocon_IT13B_Activities/nbproject/private/
/Bocon_IT13B_Activities/build/
/JavaApplication10/nbproject/private/
/JavaApplication11/nbproject/private/
/quidit_it13a/nbproject/private/
/quidit_it13a/build/
